* {
  box-sizing: border-box;
}


body {
  background-color: rgb(245, 245, 245);
}

.title {
  border-top: 3px solid rgb(252, 98, 93);
  border-bottom: 3px solid rgb(252, 98, 93);
  color: rgb(252, 98, 93);
  font-family: Helvetica, sans-serif;
  font-size: 5rem;
  font-weight: lighter;
  text-align: center;
  width: 100%;
}

.container {
  height:100%;
  margin: 5% 11% 10% 11%;
  position: relative;
  width: 78%;
}

.photo {
  box-shadow: 0 2px 4px 2px rgb(200, 200, 200);
  display: inline-block;
  font-size: 0;
  max-height: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  position: relative;
  vertical-align: top;
  width: 33%;
}

.thumbnail {
  height: 67%;
  width:100%;
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
  -webkit-transition: all .6s;
}

.thumbnail:hover {
  box-shadow: inset 3px 4px 5px rgb(252, 98, 93);
  cursor: pointer;
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -webkit-transition: all .6s;
}



.footer {
  background-color: rgb(220, 220, 220);
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  height: 33%;
  margin: 0;
  padding: 5%;
}

.footer__info {
  font-size: .8rem;
  margin: 0;
}

.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.modal__visible {
  background-color: rgba(0, 0, 0, 0.7);
  visibility: visible;
  height: 100%;
  opacity: 1;
  position: fixed;
  right: 0%;
  text-align: center;
  top: 0%;
  transition: visibility .3s, opacity 0.3s linear;
  width: 100%;
}

.modal__title {
  background-color: rgba(255, 255, 255, 0.7);
  /*border-bottom: 3px solid black;*/
  color: rgb(252, 98, 93);
  font-family: Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: lighter;
  display: inline-block;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 7%;
  width: 40%;
}

.modal__content {
  height: 80%;
  margin: .8% 10%;
  text-align: center;
  width: 80%;

}

.modal__image {
  border: 3px solid black;
  height: auto;
  width: 100%;
}



.modal__exit {
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  outline: none;
  padding: 8px;
  transition: border .6s;
}

.modal__exit:hover{
  border: 3px solid rgb(252, 98, 93);
  cursor: pointer;
  transition: border .6s;
}
